<?xml version="1.0"?>

<launch>

    <!-- <node pkg = "trajectory_tracking" name = "cmd_vel_to_ackermann_drive" type = "cmd_vel_to_ackermann_drive.py">
    </node> -->
    <node pkg="Heterogeneous-formation-controller" type="fcoord_test_node" name="fcoord_test_node" output="screen" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find Heterogeneous-formation-controller)/config/test.rviz" />
</launch>
