<?xml version="1.0"?>
<launch>
  <node pkg="Heterogeneous-formation-controller" type="generate_decomp" name="generate_decomp" output="screen">   
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find Heterogeneous-formation-controller)/config/test.rviz" />

<!-- Nodes End -->
</launch>
